<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/season" name="season" method="post">  <!-- form이 하나기 때문에 form에 이름을 안줘도 알아서 하나를 가져간다 -->
        <select name="month">
            <option disabled selected>월을 선택하세요</option> <!-- option disabled selected 통째로 외우기-->
            <option value="1">1월</option>
            <option value="2">2월</option>
            <option value="3">3월</option>
            <option value="4">4월</option>
            <option value="5">5월</option>
            <option value="6">6월</option>
            <option value="7">7월</option>
            <option value="8">8월</option>
            <option value="9">9월</option>
            <option value="10">10월</option>
            <option value="11">11월</option>
            <option value="12">12월</option>
        </select>
        <button>보내기</button>
     </form>
</body>
</html>